[Desktop Entry]
Type=Application
Version=1.0
Name=R@ Slayer
Exec=/home/carneyjs/Documents/Games/C++Games/R@Slayer/ratslayer
Path=/home/carneyjs/Documents/Games/C++Games/R@Slayer
Icon=/home/carneyjs/Documents/Games/C++Games/R@Slayer/ratslayer
Categories=Games
